.preloader {
  background-color: var(--color-background);
  overflow: hidden;
  outline: 1px solid var(--color-accent-third);

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include is-desktop() {
      height: 100vh;
      height: 100svh;
    }

    @include is-mobile() {
      padding-top: em(146);
    }
  }

  &__border {
    width: em(512);
    height: em(512);
    padding: 1px 1px 0 1px;
    border-radius: em(32);
    background: linear-gradient(
      180deg,
      rgba(117, 104, 200, 1) 0%,
      rgba(117, 104, 200, 0) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;

    @include is-mobile() {
      width: em(280);
      height: em(280);
      border-radius: em(17.5);
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    border-radius: calc(#{em(32)} - 1px);
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;

    @include is-mobile() {
      border-radius: calc(#{em(17.5)} - 1px);
    }
  }

  &__load-outline {
    width: em(133);
    padding: em(6);
    border-radius: em(8);
    border: 1px solid var(--color-text);
  }

  &__load-line {
    min-width: em(2);
    width: 0;
    height: em(2);
    background-color: var(--color-text);
    border-radius: em(1);
    transition: 0.3s;
  }
}
