.main {
  background-color: var(--color-background);
  height: 100%;

  &__header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__origin {
    @include is-desktop {
      height: 100vh;
      height: 100svh;
    }
  }

  &__skill {
    position: relative;
    z-index: 1;
  }

  &__gallery {
    margin-top: -50vh;
    margin-top: -50svh;
    height: 100vh;
    height: 100svh;
    z-index: 1;

    @include is-mobile {
      margin-top: -60vh;
      margin-top: -60svh;
    }
  }

  &__contact {
    margin-top: 125vh;
    margin-top: 125svh;

    height: 100vh;
    height: 100svh;

    @include is-mobile {
      margin-top: 110vh;
      margin-top: 110svh;
    }
  }
}
