html {
  --white: #ffffff;
  --black: #000000;

  --color-text: #fff;

  --color-accent: #b9d398;
  --color-accent-second: #7568c8;
  --color-accent-third: #d398ae;

  --color-accent-strong: #809e5a;
  --color-accent-second-strong: #4c418d;

  --color-background: #1d1d25;

  --color-accent-opacity-30: rgba(185, 211, 152, 0.3);
  --color-accent-second-opacity-30: rgba(117, 104, 200, 0.3);
  --color-background-opacity-30: rgba(4, 0, 27, 0.3);
}
