.header {
  padding: em(32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(50%);

  @include is-mobile() {
    padding: em(20) em(25);
  }

  &__logo {
    width: em(75);
    height: em(73);
    color: var(--color-accent);
    flex-shrink: 0;

    @include is-mobile() {
      width: em(50);
      height: em(48);
    }
  }

  &__navs {
    display: flex;
    gap: em(32);

    @include is-mobile() {
      gap: em(5);
    }
  }
}
