.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__blur {
    width: em(1017);
    height: em(976);
    max-width: none;
    max-height: none;
    position: absolute;
    bottom: em(-90);
    left: em(-70);
  }

  &__text {
    font-family: 'Press Start 2P', cursive;
    font-size: em(96);
    font-weight: 400;
    color: var(--color-text);
    text-align: center;

    @include is-mobile() {
      font-size: em(32);
    }
  }

  &__text-line {
    position: absolute;
    overflow: hidden;

    @include is-mobile() {
      display: none;
    }

    &--mobile {
      display: none;

      @include is-mobile() {
        display: block;
      }
    }

    &--first {
      transform: translate3d(em(-20), em(-110), 0);

      @include is-mobile() {
        transform: translate3d(em(-96), em(-107), 0);
      }
    }
    &--second {
      transform: translate3d(em(125), 0, 0);

      @include is-mobile() {
        transform: translate3d(em(-16), em(-68), 0);
      }
    }
    &--third {
      transform: translate3d(em(117), em(111), 0);

      @include is-mobile() {
        transform: translate3d(em(0), em(-30), 0);
      }
    }

    &--fourth {
      @include is-mobile() {
        transform: translate3d(em(-76), em(11), 0);
      }
    }
  }

  &__button {
    position: absolute;
    transform: translate3d(em(-317), em(-4), 0);
    padding: em(8);
    overflow: hidden;
    z-index: 1;

    @include is-mobile() {
      transform: translate3d(em(36), em(61), 0);
    }
  }

  &__from-bottom {
    transform: translateY(112%);
  }
}
