@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false, $display: swap ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: $display;

    @if $asset-pipeline == true {
      src:
      font-url('#{$file-path}.ttf') format('truetype'),
      font-url('#{$file-path}.woff2') format('woff2'),
      font-url('#{$file-path}.woff') format('woff'),
      font-url('#{$file-path}.eot'),
      font-url('#{$file-path}.eot?#iefix') format('embedded-opentype');
    } @else {
      src:
      url('#{$file-path}.ttf') format('truetype'),
      url('#{$file-path}.woff2') format('woff2'),
      url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.eot'),
      url('#{$file-path}.eot?#iefix') format('embedded-opentype');
    }
  }
}
