.origin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include is-mobile() {
    padding-top: em(286);
    padding-bottom: em(210);
  }

  &__scene {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: em(1000);
  }

  &__scene-content {
    //transform: rotateY(10deg) rotateX(10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
  }

  &__blur {
    max-width: none;
    max-height: none;
    width: em(1017);
    height: em(976);
    position: absolute;
    opacity: 0;
    transform: translate3d(em(32), em(42), 0);

    @include is-desktop {
      animation: rotate-scale 30s linear infinite;
    }
  }

  &__image-wrapper {
    width: em(512);
    height: em(512);
    border-radius: em(32);
    position: absolute;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: em(32);
      background-color: var(--color-background-opacity-30);

      @include is-mobile() {
        border-radius: em(17.5);
      }
    }

    @include is-mobile() {
      width: em(280);
      height: em(280);
    }
  }

  &__image {
    border-radius: em(32);

    @include is-mobile() {
      border-radius: em(17.5);
    }
  }

  &__text {
    font-family: 'Press Start 2P', cursive;
    font-size: em(96);
    font-weight: 400;
    color: var(--color-text);
    text-align: center;
    display: inline-block;

    @include is-mobile() {
      font-size: em(32);
    }
  }

  &__text-wrapper {
    position: absolute;
    overflow: hidden;

    &--name {
      transform: translate3d(em(10), em(-105), 0);

      @include is-mobile() {
        transform: translate3d(em(32), em(-35), 0);
      }
    }

    &--surname {
      transform: translate3d(em(-230), em(10), 0);

      @include is-mobile() {
        transform: translate3d(em(-48), em(3), 0);
      }
    }

    &--spec {
      transform: translate3d(em(203), em(140), 0);

      @include is-mobile() {
        transform: translate3d(em(32), em(42), 0);
      }
    }
  }

  &__button {
    padding: em(8);
    position: absolute;
    transform: translate3d(em(299), 0, em(20));
    overflow: hidden;

    @include is-mobile() {
      transform: translate3d(em(62), em(147), 0);
    }
  }

  &__mouse-scroll-wrapper {
    position: absolute;
    left: em(-26);
    bottom: em(-100);

    @include is-mobile() {
      display: none;
    }
  }

  &__mouse-scroll {
    width: em(292);
    height: em(292);
    border-radius: 50%;
    border: 1px solid var(--color-accent-second);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50%);
  }

  &__icon {
    color: var(--color-text);
    position: absolute;

    &--mouse {
      width: em(16);
      height: em(48);
      border: 1px solid var(--color-text);
      border-radius: em(8);
    }

    &--scroll {
      width: em(2);
      height: em(20);
      background-color: var(--color-text);
      transform: translate(0, em(-7));
      animation: 1.5s mouseScroll infinite alternate;
    }
  }

  &__from-bottom {
    transform: translateY(112%);

    @include is-mobile() {
      transform: translateY(122%);
    }
  }
}
