.noice {
  opacity: 0.015;
  background-image: url('/images/noice-min.jpg');
  animation-name: noice;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
  pointer-events: none;
  transition: $transition-fast opacity;
}
