.app {
  height: 100%;
  overflow: hidden;

  &__content {
  }

  &__full-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &--preloader {
      @include zIndex(preloader);
    }

    &--noice {
      @include zIndex(noice);
    }
  }
}
