.skill {
  padding: em(90) em(223) em(102) em(464);
  display: flex;
  justify-content: center;
  transform: translateY(em(100));

  @include is-mobile() {
    padding: em(55) em(20) em(24);
  }

  &__headline {
    font-family: 'Prompt', sans-serif;
    font-size: em(16);
    font-weight: 700;
    letter-spacing: em(1.6, 16);
    color: var(--color-accent);
    white-space: nowrap;
    margin-top: em(5, 16);
    margin-right: em(89, 16);

    @include is-mobile() {
      font-size: em(12);
      letter-spacing: em(1.2, 12);
      margin-top: em(3, 12);
      margin-right: em(25, 12);
    }
  }

  &__review {
    display: flex;
    flex-direction: column;
    gap: em(29);

    @include is-mobile() {
      gap: em(15);
    }
  }

  &__text {
    max-width: em(550, 36);
    font-family: 'Prompt', sans-serif;
    font-size: em(36);
    font-weight: 400;
    line-height: em(45, 36);
    color: var(--color-text);

    @include is-mobile() {
      font-size: em(18);
      line-height: em(22.5, 18);
    }
  }

  &__accent {
    color: var(--color-accent);

    &--accent-second {
      color: var(--color-accent-second);
    }

    &--accent-third {
      color: var(--color-accent-third);
    }
  }

  &__tools {
    font-family: 'Prompt', sans-serif;
    font-size: em(16);
    font-weight: 700;
    letter-spacing: em(1.6, 16);
    color: var(--color-text);

    @include is-mobile() {
      font-size: em(12);
      letter-spacing: em(1.2, 12);
    }
  }
}
