.gallery {
  position: relative;

  &__line {
    position: absolute;
    left: 46.5%;
    top: 50vh;
    top: 50svh;
    height: 50vh;
    height: 50svh;
    width: 1px;
    background-color: var(--color-accent-second);

    @include is_mobile() {
      top: 60.5vh;
      top: 60.5svh;
      left: 36%;
    }
  }

  &__headline {
    font-family: 'Prompt', sans-serif;
    font-size: em(16);
    font-weight: 700;
    letter-spacing: em(1.6, 16);
    color: var(--color-accent);
    white-space: nowrap;
    position: absolute;
    top: 49vh;
    top: 49svh;
    left: 33.5%;

    @include is_mobile() {
      top: 60vh;
      top: 60svh;
      font-size: em(12);
      letter-spacing: em(1.2, 12);
      left: 10%;
    }
  }

  &__blur {
    background-size: contain;
    width: em(2000);
    height: em(2000);
    max-height: none;
    max-width: none;
    position: absolute;
    top: em(-50);
    right: em(100);
    transform: rotateY(15deg) translateZ(#{em(3000)}) translateX(0)
      translateY(em(-400));
    opacity: 0;

    @include is-mobile() {
      transform: rotateY(15deg) translateZ(#{em(500)}) translateX(em(1000))
        translateY(em(-600));
    }
  }

  &__scene {
    width: 100%;
    height: 100vh;
    perspective: em(1000);
    overflow: hidden;
  }

  &__cards {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(10deg) translateZ(#{em(-3500)}) rotateY(17deg);

    &--content {
      pointer-events: none;
    }

    @include is-mobile() {
      transform: rotateZ(10deg) translateZ(#{em(-1500)}) rotateY(17deg);
    }
  }

  &__card {
    display: block;
    position: absolute;
    width: em(540);
    height: em(540);
    transform: rotateY(calc(var(--gallery-index) * 10deg))
      translateZ(#{em(3600)});
    border-radius: em(32);
    transition: $transition;
    transition-property: transform;

    &:hover {
      transform: rotateY(calc(var(--gallery-index) * 10deg))
        translateZ(#{em(3590)});
    }

    @include is-mobile() {
      width: em(248);
      height: em(248);
      border-radius: em(15.5);
      transform: rotateY(calc(var(--gallery-index) * 10deg))
        translateZ(#{em(1700)});
    }
  }

  &__card-content {
    position: absolute;
    width: em(540);
    height: em(540);
    transform: rotateY(calc(var(--gallery-index) * 10deg)) rotateZ(-10deg)
      translateZ(#{em(3650)}) translateY(em(380));
    opacity: 0;

    @include is-mobile() {
      transform: rotateY(calc(var(--gallery-index) * 10deg)) rotateZ(-10deg)
        translateZ(#{em(1700)}) translateY(em(300)) translateX(em(150));
    }
  }

  &__description {
    font-family: 'Prompt', sans-serif;
    font-size: em(36);
    font-weight: 400;
    line-height: em(45, 36);
    color: var(--color-text);
    max-width: em(436, 36);
    margin-bottom: em(17, 36);

    @include is-mobile() {
      font-size: em(20);
      line-height: em(25, 20);
      margin-bottom: em(15, 20);
    }
  }

  &__title {
    font-family: 'Prompt', sans-serif;
    font-size: em(36);
    font-weight: 900;
    line-height: em(45, 36);
    color: var(--color-text);
    margin-bottom: em(21, 36);

    @include is-mobile() {
      font-size: em(20);
      line-height: em(25, 20);
      margin-bottom: em(15, 20);
    }
  }

  &__techs {
    font-family: 'Prompt', sans-serif;
    font-size: em(16);
    font-weight: 700;
    letter-spacing: em(1.6, 16);
    color: var(--color-accent);
    position: relative;

    @include is-mobile() {
      font-size: em(12);
      letter-spacing: em(1.2, 16);
    }

    &:not(:last-child) {
      margin-right: em(20);

      &::after {
        content: ' • ';
        color: var(--color-text);
        position: absolute;
        top: 0;
        left: calc(100% + #{em(10)});
        translate: -50%;
      }
    }

    &--tech-0 {
      color: var(--color-accent);
    }

    &--tech-1 {
      color: var(--color-accent-third);
    }

    &--tech-2 {
      color: var(--color-accent-second);
    }

    &--tech-3 {
      color: var(--color-accent-strong);
    }
  }
}
