@keyframes rotate-scale {
  0% {
    rotate: 0deg;
    scale: 1;
  }

  50% {
    scale: 1.4;
  }

  100% {
    rotate: 360deg;
    scale: 1;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes noice {
  0% {
    background-position: 0 0;
  }

  10% {
    background-position: -15% -25%;
  }

  20% {
    background-position: -10% -5%;
  }

  30% {
    background-position: 5% 10%;
  }

  40% {
    background-position: 10% 5%;
  }

  50% {
    background-position: -5% -10%;
  }

  60% {
    background-position: -35% -50%;
  }

  70% {
    background-position: 15% 25%;
  }

  80% {
    background-position: 30% 15%;
  }

  90% {
    background-position: 35% 50%;
  }

  100% {
    background-position: -25% -15%;
  }
}

@keyframes mouseScroll {
  from {
    transform: translate(0, em(-7));
  }

  to {
    transform: translate(0, em(7));
  }
}
