@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

html,
body {
  font-family: $base-font;
  height: 100%;
  width: 100%;
  background-color: #1d1d25;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;

  &::selection {
    //background-color: $color-hover;
  }

  &:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  &:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
  }
}

a {
  color: inherit;
}

p,
button,
input,
html,
body {
  padding: 0;
  margin: 0;
}

svg,
img {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button,
input,
textarea {
  outline: none;
  border: none;
  background-color: transparent;
}

button {
  font-size: inherit;
}

input[type='text'] {
  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
    }

    &:-moz-placeholder {
      opacity: 0;
    }

    &::-moz-placeholder {
      opacity: 0;
    }

    &:-ms-input-placeholder {
      opacity: 0;
    }
  }
}

button {
  cursor: pointer;
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
}
