@use 'sass:math';

@mixin zIndex($name) {
  z-index: map-get($zIndex, $name);
}

@function em($pixels, $context: $base-font-size) {
  @return #{math.div($pixels, $context)}em;
}

@function em-runtime($pixels, $context: $base-font-size) {
  @return calc(#{$pixels} / #{$context} * 1em);
}

@mixin is-mobile {
  .is-mobile & {
    @content;
  }
}

@mixin is-desktop {
  .is-desktop & {
    @content;
  }
}
