.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity $transition;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity $transition;
}
.fade-exit-done {
  visibility: hidden;
}

.from-bottom-enter {
  opacity: 0;
  translate: 0 20px;
  visibility: hidden;
}
.from-bottom-enter-active {
  opacity: 1;
  translate: 0 0;
  visibility: visible;
  transition: opacity $transition, translate $transition, visibility $transition;
}
.from-bottom-exit {
  opacity: 1;
  translate: 0 0;
  visibility: visible;
}
.from-bottom-exit-active {
  opacity: 0;
  translate: 0 20px;
  visibility: hidden;
  transition: opacity $transition, translate $transition, visibility $transition;
}

.popup-slide-enter {
  .popup__back-drop {
    opacity: 0;
  }

  .popup__content {
    translate: 0 100%;
  }
}
.popup-slide-enter-active {
  .popup__back-drop {
    opacity: 1;
    transition: opacity $transition;
  }

  .popup__content {
    translate: 0 0;
    transition: translate $transition;
  }
}
.popup-slide-exit {
  .popup__back-drop {
    opacity: 1;
  }

  .popup__content {
    translate: 0 0;
  }
}
.popup-slide-exit-active {
  .popup__back-drop {
    opacity: 0;
    transition: opacity $transition;
  }

  .popup__content {
    translate: 0 100%;
    transition: translate $transition;
  }
}
.popup-slide-exit-done {
  visibility: hidden;
}
