@use 'sass:math';

@mixin typography($name, $typography) {
  $styles: map-get($typography, $name);

  font-family: map-get($styles, font-family);
  font-size: em(map-get($styles, font-size));
  line-height: math.div(
    map-get($styles, line-height),
    map-get($styles, font-size)
  );
  font-weight: map-get($styles, font-weight);
  letter-spacing: #{map-get($styles, letter-spacing)}em;
}

$typography: (
  130-bold:
    (
      font-size: 130,
      font-weight: 700,
      line-height: 158,
      letter-spacing: 0,
    ),
  40-bold:
    (
      font-size: 40,
      font-weight: 700,
      line-height: 40,
      letter-spacing: 0,
    ),
  12-medium:
    (
      font-size: 12,
      font-weight: 500,
      line-height: 15,
      letter-spacing: 0,
    ),
  test-2: (
    font-size: 96,
    font-weight: 400,
    letter-spacing: 0,
  ),
  test: (
    font-size: 24,
    font-weight: 700,
    letter-spacing: 0.02,
  )
);

@each $label, $map in $typography {
  .font--#{$label} {
    @include typography($label, $typography);
  }
}

@each $label, $map in $typography {
  .font--#{$label}--mobile {
    @include is-mobile {
      @include typography($label, $typography);
    }
  }
}
