$transition-fast: 0.2s ease;
$transition: 0.3s ease;
$transition-slow: 0.6s ease;

$zIndex: (
  noice: 40,
  preloader: 30,
  popup: 20,
  header: 10,
);

$base-font: 'Prompt', sans-serif;
$base-font-size: 16;
