.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: em(50);
  transition: $transition background-color, $transition border-color,
    $transition color, $transition transform, $transition outline;
  white-space: nowrap;
  position: relative;

  //&:hover {
  //  transform: scale(1.04);
  //}

  &:active {
    transform: scale(0.96);
  }

  &__icon {
    width: em(32);
    height: em(32);
  }

  &__text {
    font-family: 'Prompt', sans-serif;
    font-size: em(24);
    font-weight: 700;
    line-height: em(36, 24);

    @include is-mobile() {
      font-size: em(18);
    }
  }

  &--size {
    &--l {
      padding: em(17) em(55);

      @include is-mobile() {
        padding: em(13) em(47);
      }
    }
  }

  &--theme {
    &--accent {
      background-color: var(--color-accent);
      color: var(--color-background);

      &:hover {
        background-color: var(--color-accent-strong);
        color: var(--color-text);
      }

      @include is-desktop {
        &:focus {
          outline: em(8) solid var(--color-accent-opacity-30);
        }
      }
    }

    &--accent-second {
      background-color: var(--color-accent-second);
      color: var(--color-text);

      &:hover {
        background-color: var(--color-accent-second-strong);
      }

      @include is-desktop {
        &:focus {
          outline: em(8) solid var(--color-accent-second-opacity-30);
        }
      }
    }

    &--transparent {
      background-color: transparent;
      color: var(--color-text);
      border-color: var(--color-accent-second);

      &:hover {
        background-color: var(--color-accent-second-strong);
        border-color: var(--color-accent-second-strong);
      }

      @include is-desktop {
        &:focus {
          border-color: transparent;
          outline: em(8) solid var(--color-accent-second-opacity-30);
        }
      }
    }
  }

  &--icon-only {
    padding: em(19);

    @include is-mobile() {
      padding: em(11);
    }
  }
}
